@import url(https://db.onlinewebfonts.com/c/27ce0e6567b3bec54d6354d07f597203?family=Jua+Regular);
@font-face {
       font-family: "Jua Regular";
       src: url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.eot");
       src: url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.eot?#iefix")format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.woff2")format("woff2"),
       url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.woff")format("woff"),
       url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.ttf")format("truetype"),
       url("https://db.onlinewebfonts.com/t/27ce0e6567b3bec54d6354d07f597203.svg#Jua Regular")format("svg");
   }


   body {
       font-family: "Jua Regular";
     }
