/* src/index.css */

/* Importing Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define a custom font name for your project */
@font-face {
    font-family: 'eleven';
    src: url('./assets/fonts/eleven.TTF') format('truetype'),
}

   @font-face {
       font-family: 'barlo';
       src: url('./assets/fonts/barlo.ttf') format('truetype'),
   }

   @font-face {
       font-family: 'barlob';
       src: url('./assets/fonts/barlob.ttf') format('truetype'),
   }

   @font-face {
         font-family: 'barlosb';
         src: url('./assets/fonts/barlosb.ttf') format('truetype'),
    
   }
   @font-face {
    font-family: 'barlom';
    src: url('./assets/fonts/barlom.ttf') format('truetype'),

}
/* Apply the custom font to a specific class (e.g., .title) */
.title {
    font-family: 'eleven';
}

/* styles.css or App.css */
body {
    margin: 0;
    padding: 0;
}

/* Apply the custom font to the title within the body */
body {
    font-family: 'barlom';
}

.b{
       font-family: 'barlob';
}

.sb {
    font-family: 'barlosb';
}


body {
    user-select: none;
    --scrollbar-track-color: #ffffff;
    --scrollbar-thumb-color: #93ffc3;
  }
  
  body.dark {
    --scrollbar-track-color: #434343;
    --scrollbar-thumb-color: #47f98e;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #25fbb3;
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }
  